@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import "https://unpkg.com/open-props";

:root {
  --primary-color: #0FF0FC;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #252525;
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Roboto', sans-serif;
}

.btn {
  background: #444;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid var(--primary-color);
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.btn-secondary {
  border: none;
}

.btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  color: var(--primary-color);
  animation: box 3s infinite;
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--primary-color);
  }
  100% {
    box-shadow: #27272c;
  }
}

header {
  display: flex;
  position: fixed;
  height: 72px;
  width: 100vw;
  padding: 0 60px;
  background-color: rgba(37, 37, 37, 0.8);
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo img {
  width: 72px;
}

.menu {
  padding: 0;
}

.menu li:last-child {
  margin-left: 16px;
}

.menu-button-container {
  display: none;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button {
  right: 32px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

nav li {
  display: inline-block;
}

nav a {
  padding: 10px;
  font-size: 18px;
  text-transform: capitalize;
  color: #BFBFBF;
}

nav a:hover, nav a.active {
  color: #FFF;
  font-weight: 700;
  transition: 0.2s ease-in;
  color: var(--primary-color);
}

nav a.active {
  border-bottom: 2px solid var(--primary-color);
}

main {
  position: relative;
}

h2, h3, h4 {
  margin: 0;
  letter-spacing: -0.5px;
}

.social {
  list-style: none;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.social li {
  margin-bottom: 16px;
}

.social a {
  display: flex;
  padding: 4px;
}

.social a path {
  fill: #BFBFBF;
}

.social a:hover path {
  fill: var(--primary-color);
}

.main-social {
  position: fixed;
  width: fit-content;
  bottom: 0;
  margin-left: 69px;
  padding: 0;
  z-index: 1;
}

.main-social a {
  transition: 0.3s;
}

.main-social a:hover {
  transform: translateY(-5px);
}

.main-social::after {
  content: '';
  display: block;
  margin: 4px auto 24px auto;
  width: 2px;
  height: 80px;
  background-color: #BFBFBF;
}

section {
  padding: 32px 170px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.greet {
  font-size: 36px;
}

.name {
  font-size: 72px;
}

.role {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 32px;
}

.heading-1 {
  font-size: 32px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 56px;
  color: #E6E6E6;
}

.project-filter {
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
	margin-bottom: 32px;
}

.tag-btn {
  cursor: pointer;
  background-color: #444;
  border: 2px solid #444;
  text-transform: capitalize;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.5rem 2rem;
}

.tag-btn input {
  display: none;
}

.tag-btn:has(input:checked) {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.project-grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 340px));
  justify-content: center;
  gap: 16px;
}

.project-item {
  display: grid;
  color: #E6E6E6;
  transition: 0.3s;
}

.project-item:hover {
  transform: translateY(-5px);
}

.project-item:hover h2 {
  color: var(--primary-color);
}

.project-item-desc {
  min-height: 48px;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
}

.project-tech li {
  list-style-type: none;
  padding: 8px;
  height: fit-content;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 12px;
  border-radius: 16px;
}

.project-btn-container {
  display: flex;
  gap: 4px;
}

.project-btn {
  display: flex;
  margin-top: 16px;
  color: #BFBFBF;
  align-items: center;
}

.project-btn:hover {
  color: #BFBFBF;
  text-decoration: underline;
}

.project-btn img {
  width: 24px;
}

.project-btn p {
  margin: 0 4px;
}

.card {
  background: #3F3F3F;
  padding: 16px;
}

.skills {
  min-height: 100vh;
}

.skill-grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  justify-content: center;
  gap: 16px;
}

.skill-item {
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.skill-logo {
  height: 54px;
}

footer {
  text-align: center;
  padding: 24px 0;
}

footer p {
  font-size: 14px;
}

.footer-social {
  display: none;
}

@media(max-width: 786px) {
  .main-social {
    display: none;
  }

  .greet {
    font-size: 24px;
  }
  
  .name {
    font-size: 48px;
  }
  
  .role {
    font-size: 32px;
    margin-bottom: 32px;
  }
  
  .heading-1 {
    font-size: 24px;
  }

  .project-item h2 {
    font-size: 16px;
  }

  .project-item-desc {
    font-size: 14px;
    color: #D4D4D4;
  }

  .project-tech li {
    padding: 6px 8px;
  }

  .project-btn img {
    width: 20px;
  }
  
  .project-btn p {
    font-size: 14px;
  }

  section {
    padding-left: 32px;
    padding-right: 32px;
  }

  .skill-grid {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }

  .skill-logo {
    height: 42px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    font-size: 12px;
  }

  .footer-social {
    display: flex;
    flex-direction: row;
  }

  .footer-social li {
    margin: 16px;
  }
}

@media(max-width: 480px) {
  header {
    padding: 0 32px;
  }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgba(37, 37, 37);
    height: 100vh;
    width: 100%;
    right: -100%;
    transition: 0.5s ease-in-out;
    text-align: center;
    justify-content: center;
  }

  header:has(#menu-toggle:checked) {
    background-color: rgba(37, 37, 37);
  }

  #menu-toggle:checked ~ nav .menu {
    right: 0;
  }

  .menu li {
    margin: 8px 0;
  }

  .menu li:last-child {
    margin-left: 0;
    margin-top: 32px;
  }

  .skill-item p {
    font-size: 14px;
  }
}