@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import "https://unpkg.com/open-props";

:root {
  --primary-color: #0FF0FC;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #252525;
  color: white;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Roboto', sans-serif;
}

.btn {
  background: #444;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid var(--primary-color);
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.btn-secondary {
  border: none;
}

.btn:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  color: var(--primary-color);
  animation: box 3s infinite;
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--primary-color);
  }
  100% {
    box-shadow: #27272c;
  }
}

header {
  display: flex;
  position: fixed;
  height: 72px;
  width: 100vw;
  padding: 0 60px;
  background-color: rgba(37, 37, 37, 0.8);
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo img {
  width: 72px;
}

nav .menu {
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: #BFBFBF;
}

nav a:hover {
  color: var(--primary-color);
}

main {
  position: relative;
}

h2, h3, h4 {
  margin: 0;
  letter-spacing: -0.5px;
}

.social {
  position: fixed;
  width: fit-content;
  bottom: 0;
  margin: 0;
  margin-left: 69px;
  padding: 0;
  list-style: none;
  z-index: 1;
}

.social li {
  margin-bottom: 16px;
}

.social a {
  display: flex;
  padding: 4px;
  transition: 0.3s;
}

.social a:hover {
  transform: translateY(-5px);
}

.social a path {
  fill: #BFBFBF;
}

.social a:hover path {
  fill: var(--primary-color);
}

.social::after {
  content: '';
  display: block;
  margin: 4px auto 24px auto;
  width: 2px;
  height: 80px;
  background-color: #BFBFBF;
}

section {
  padding: 32px 170px;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.greet {
  font-size: 36px;
}

.name {
  font-size: 72px;
}

.role {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 32px;
}

.heading-1 {
  font-size: 32px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 48px;
  color: #E6E6E6;
}

.project-grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  gap: 16px;
}

.project-item {
  display: grid;
  color: #E6E6E6;
  transition: 0.3s;
}

.project-item:hover {
  transform: translateY(-5px);
}

.project-item:hover h2 {
  color: var(--primary-color);
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  padding: 0;
}

.project-tech li {
  list-style-type: none;
  margin-right: 8px;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 12px;
  border-radius: 16px;
}

.project-btn {
  display: flex;
  margin-top: 16px;
  color: #BFBFBF;
  align-items: center;
}

.project-btn:hover {
  text-decoration: underline;
}

.project-btn img {
  width: 24px;
}

.project-btn p {
  margin: 0 4px;
}

.card {
  background: #3F3F3F;
  padding: 16px;
}

.skills {
  min-height: 100vh;
}

.skill-grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: center;
  gap: 16px;
}

.skill-item {
  list-style-type: none;
  align-items: center;
  text-align: center;
}

.skill-logo {
  height: 54px;
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}