@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Salsa&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Salsa', cursive;
  background-color: #FEFFFD;
}

a {
  text-decoration: none;
}